* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  var(--main-font-family);
    color: var(--font-color);
    @include font-size($font-size-text);
    list-style-type: none;
}

html {
    background-color: var(--background-color);
}

h1, h2 {
    font-family: var(--title-font-family);
    font-weight: normal;
    margin: 20px 0px;
}

h1 {
    @include font-size($font-size-title);
}

h2 {
    @include font-size($font-size-subtitle);
}

.main {
    display: grid;
    height: 100vh;
    background-attachment: fixed;
    background-color: var(--background-color);
    grid-template-columns: $grid-side-column-width $grid-middle-column-width $grid-side-column-width;
    
    @media (max-width: 1400px) {
        grid-template-columns: $grid-side-column-width $grid-middle-column-width-mobile $grid-side-column-width;
    }

    @media (max-width: 1000px) and (orientation: portrait) {
        grid-template-columns: $grid-side-column-width $grid-middle-column-width-mobile $grid-side-column-width;
    }
    grid-template-rows: auto auto 1fr $grid-footer-row-height;
    grid-template-areas: 
       "sitetitle sitetitle sitetitle"
       "nav nav nav"
       "leftmargin content rightmargin"
       "footer footer footer";

    &__content {
        grid-area: content;
        background-color: var(--background-color);
    }

    &__footer {
        grid-area: footer;
        @extend %primary-bg-light-color;
        line-height: $grid-footer-row-height;
        @include font-size($font-size-text);
        padding-left: ($grid-footer-row-height - $font-size-text)/2;

    }
}

