@import url("home_page.css");
@import url("recipe_page.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @include main-font-family;
    color: $font-color;
    list-style-type: none;
}

html {
    background-color: $background-color;
}

h1, h2 {
    @include title-font-family;
    font-weight: normal;
    margin: 20px;
}

.main {
    display: grid;
    height: 100vh;
    background-attachment: fixed;
    background-color: $background-color;
    grid-template-columns: $grid-side-column-width $grid-middle-column-width $grid-side-column-width;
    grid-template-rows: auto auto 1fr $grid-footer-row-height;
    grid-template-areas: 
       "sitetitle sitetitle sitetitle"
       "nav nav nav"
       "leftmargin content rightmargin"
       "footer footer footer";

    &__title {
        grid-area: sitetitle;
        background-color: $light-background-color;
        text-align: center;
        @include title-font-family;
        font-size: 60px;
        color: $accent-color;
    }

    &__content {
        grid-area: content;
        background-color: $light-background-color;
    }

    &__footer {
        grid-area: footer;
        @extend %primary-bg-light-color;
        line-height: $grid-footer-row-height;
        font-size: $font-footer-size;
        padding-left: ($grid-footer-row-height - $font-footer-size)/2;

    }
}

