.recipe {
    &__main-picture {
        display: block;
    }

    &__ingredients {
        padding: 15px;
        margin: 10px;
        background-color: getThemeVal('accent');
        border-radius: 50px;
    }

    &__instructions {
        padding-bottom: 50px;

        ol {
            padding: 20px;

            li {
                list-style-type: numbers;
                padding-bottom: 10px; 
            }
        }
    }
}
