.nav {
    grid-area: nav;
    @extend %primary-bg-light-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;

    .nav-list {
        list-style: none;

        &__item {
            display: inline-block;
            padding: 0px 20px;

            &--disabled {
                @extend .nav-list__item;
                a {
                    color: darken($light-font-color, 23%);
                    pointer-events: none;
                }
            }
        }
    }

    a {
        @extend .anchor;
        font-size: 25px;
        font-weight: 800;
        transition: text-decoration-color 300ms, color 200ms;
        padding-left: 20px;
        padding-right: 20px;
    }
}

