.nav {
    grid-area: nav;
    @extend %primary-bg-light-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;

    .nav-list {
        list-style: none;

        &__item {
            display: inline-block;
            padding: 0px 20px;

            &--left {
                @extend .nav-list__item;
                position: absolute;
                left: -30px;
            }

            &--disabled {
                @extend .nav-list__item;
                a {
                    color: --font-color;
                    filter: brightness(0.77);
                    pointer-events: none;
                }
            }

            &--right {
                display: inline-block;
                cursor: pointer;
                position: absolute;
                right: 0;
            }
            
            &--close {
                top: 10px;
            }
        }

        &__title {
            @include font-size($font-size-nav, $nav-multiplicator);
            color: var(--light-font-color);
            text-decoration: none;
            font-weight: 800;
            position: absolute;
            left: 30px;

            @media (max-width: 1000px) and (orientation: portrait) {
                display: none;
            }
        }
    }

    a {
        @extend .anchor;
        @include font-size($font-size-nav, $nav-multiplicator);
        font-weight: 800;
        transition: text-decoration-color 300ms, color 200ms;
        padding-left: 20px;
        padding-right: 20px;
    }
}

