#latest-recipes {
    columns: 2; 
    column-gap: 0px;
    display: inline-block;
}

@media (max-width: 1000px) and (orientation: portrait) {
    #latest-recipes {
        columns: 1; 
        column-gap: 0px;
        display: inline-block;
    }
}

.recipe-preview-tile {
    border-radius: 8px;
    position: relative;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 10px;
}

.recipe-preview-tile img {
    max-height:100%; max-width:100%;
    border-radius: 12px;
}

.recipe-preview-tile__title {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 7px;
    transition: bottom 300ms, left 300ms;
}

.recipe-preview-tile__title-shadow {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: var(--color4);
    font-weight: bold;
    background-color: var(--color4);
    padding: 7px;
}

.recipe-preview-tile__title:hover {
    bottom: 15px;
    left: 23px;
}