@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Libre+Franklin:wght@100&display=swap');
@import url("home_page.css");
@import url("recipe_page.css");

:root {
    --color1: #DBD5A0;
    --color2: #ACD9C6;
    --color3: #DBD7AF;
    --color4: #A79ADB;
    --bgcolor: #e7e3ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
    list-style-type: none;
}

.maincontainer {
    display: grid;
    height: 100vh;
    background-attachment: fixed;
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: auto auto 1fr 60px;
    grid-template-areas: 
       "sitetitle sitetitle sitetitle"
       "nav nav nav"
       "leftmargin content rightmargin"
       "footer footer footer";
    /* background-color: var(--bgcolor); */
}

#sitetitle {
    grid-area: sitetitle;
    background-color: white;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 60px;
    color: var(--color4);
}

h1, h2 {
    font-family: 'Alfa Slab One';
    font-weight: normal;
    margin: 20px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

nav {
    grid-area: nav;
    background-color: var(--color4);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 10px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms, color 200ms;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-item a:hover {
  text-decoration-color: rgb(0, 0, 0);
  color:rgb(0, 0, 0);
}

#content {
    grid-area: content;
    background-color: white;
}

footer {
    grid-area: footer;
    background-color: var(--color4);
    color:white;
}

#navlinks {
    list-style: none;
}

#navlinks li {
    display: inline-block;
    padding: 0px 20px
}
