%primary-bg-light-color {
    background-color: getThemeVal('primary');
    color: getThemeVal('light-font');
}

%dark-bg-light-color {
    background-color: getThemeVal('dark-background');
    color: getThemeVal('light-font');
    font-weight: bold;
}