%primary-bg-light-color {
    background-color: $primary-color;
    color: $light-font-color;
}

%dark-bg-light-color {
    background-color: $dark-background-color;
    color: $font-color;
    font-weight: bold;
}