$grid-column-amount: 3;
$grid-column-amount-small: 2;
$grid-column-amount-mobile: 1;
$grid-side-column-width: 1fr;
$grid-middle-column-width: 1200px;
$grid-middle-column-width-mobile: 800px;
$grid-footer-row-height: 60px;

$font-size-text: 16px;
$font-size-nav: 25px;
$font-size-subtitle: 25px;
$font-size-title: 35px;

$nav-multiplicator: 1.5;
$nav-logo-size: 30px;
$nav-menu-width: 300px;