// Colors
$primary-color: #A79ADB;
$accent-color: #ACD9C6;
$background-color: #E7E3FF;
$light-background-color: white;
$dark-background-color: black;
$font-color: black;
$light-font-color: white;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Libre+Franklin:wght@100&display=swap');
@mixin main-font-family {
    font-family: 'Libre Franklin', sans-serif;
}

@mixin title-font-family {
    font-family: 'Alfa Slab One', cursive;
}
