@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Libre+Franklin:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Orelega+One');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Montserrat:wght@500');

$themes-list: 'neuracr', 'dark', 'maua', 'azgheda';
$themes: (
    'neuracr': (
        'primary-color': #A79ADB,
        'accent-color': #ACD9C6,
        'background-color': white,
        'dark-background-color': #232323,
        'font-color': black,
        'light-font-color': white,
        'main-font-family': ('Libre Franklin', sans-serif),
        'title-font-family': ('Alfa Slab One', cursive)
    ),
    'dark': (
        'primary-color': #1a1a1a,
        'accent-color': #696969,
        'background-color': #232323,
        'dark-background-color': #232323,
        'font-color': cornsilk,
        'font-font-color': white,
        'main-font-family': ('Roboto'),
        'title-font-family': ('Orelega One', sans-serif)
    ),
    'maua': (
        'primary-color': #6c584c,
        'accent-color': #adc178,
        'background-color': white,
        'dark-background-color': #533F33,
        'font-color': black,
        'light-font-color': white,
        'main-font-family': ('Roboto'),
        'title-font-family': ('Orelega One', sans-serif)
    ),
    'azgheda': (
        'primary-color': rgb(1, 0, 53),
        'accent-color': #4D4D4D,
        'background-color': white,
        'dark-background-color': rgb(233, 4, 30),
        'font-color': black,
        'light-font-color': white,
        'main-font-family': ('Source Sans Pro', sans-serif),
        'title-font-family': ('Montserrat', sans-serif)
    )
);
$defaultTheme: 'neuracr';

:root {
    // Creating the global css variables and setting default values to neuracr values
    @each $theme-var, $theme-value in map-get($themes, $defaultTheme) {
        --#{$theme-var}: #{$theme-value}; 
    }
    
    // Creating all the themes variables
    @each $theme-name, $theme in $themes {
        @each $theme-var, $theme-value in $theme {
            --#{$theme-name}-#{$theme-var}: #{$theme-value}; 
        }
    }
};